{% extends "homeApp/base.html" %}
{% block scripts %}
<script>
 
</script>
{% endblock scripts %}

{% block navbar %}
<section id="navbar">

    {%include 'homeApp/navbar.html'%}
 
</section>

{% endblock navbar %}



{% block content %}
  

<section id="contact">


    <div class="container m-5">
        <div class="row col-12">
    
            <div class="col-xl-6 col-12">
                
    <iframe src="https://www.google.com/maps/place/Weldiya/@11.8308732,39.60159,17.75z/data=!4m6!3m5!1s0x1640c8939db38191:0xd749f2337b1e565a!8m2!3d11.8299019!4d39.6001842!16zL20vMDRqcDB4?entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
            </div>
    
            <div class="col-xl-6 col-12">
                <h3>Contact Us</h3>
                <p><i class="bi bi-telephone-fill  m-1 fs-5"></i> <a href="tel:8330099043">  +251963184624  </a></p>
                <p><i class="bi bi-browser-safari m-1 fs-5"></i> Adress , Pissa,Woldia,Ethiopia </p>
                <p><i class="bi bi-envelope-fill m-1 fs-5"></i><a href="mailto:ehealthportal@shamshadlive.com"> alexozebro@gmail.com </a></p>
            </div>
    
        </div>
    </div>
    


</section>












     
{% endblock content %}






